@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Scroll*/
body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #414141;
}

.btn-menu{
    display: none;
}

.menu-icon{
    margin-right: 5vw;
    border: none;
    background-color: transparent;
    font-size: xx-large;
}
.fondo img{
    background-repeat: no-repeat;
    width: 100vw;
    /* position: absolute; */
    z-index: 1;
}
/* .contenedor{
    display: flex;
}   */

.navegador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
    position:fixed;
    top:0px;
    height: 15vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(244,244,244,0.9556197478991597) 0%, rgba(126,126,126,0.9472163865546218) 50%, rgba(244,244,244,1) 100%);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;
}

.logo{
    width: 25vw;
    padding-left: 3vh;
}
nav{
    margin-right: 5vh;
}

ul{
    display: flex;
    gap: 8vh;
}

li{
    list-style: none;
    font-size: 2.5vh;
}

nav a{
    text-decoration: none;
    color: #414141;
}
nav a:hover{
    color: white;
    text-decoration: overline;
}

.slogan{
    padding-left: 10vw;
    font-weight: 700;
    font-size: 10vh;
    color: white;
    height: 30vh;
    z-index: 2;
    /* position: absolute; */
}
span{
    display:flex;
    padding-top: 30vh;
}

.servicios{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.servicios, .galeria, .nosotros, .contacto{
    padding-bottom: 100px;
    border-bottom: 10px solid #414141;
}
.serviciosTodos{
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    align-items: center;
    font-size: 20px;
    color: rgb(88, 88, 88);
}
.galeria{
    display: flex;
    flex-direction: column;
}
.imagenes{
    padding-left: 1vw;
    gap: 2vw;
}

.galeria img{
    width: 24vw;
    height: 30vh;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0vh 25vw;
    font-size: large;
    text-align:justify;
    padding-top: 5vh;
}

h2{
    text-align: center;
    font-size: 40px;
    color: rgb(88, 88, 88);
    padding-top: 15vh;
    padding-bottom: 2vh;
}


form {
    background-color: #414141;
    color: #fff;
    padding: 20px;
    max-width: 520px;
    margin: 10px auto;
    box-shadow: 0px 0px 10px #414141;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
    background-color: #fff;
    border: none;
    color: #414141;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 500px;
}
input[type="submit"] {
    background-color: #fff;
    border: none;
    color: #414141;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #277778;
    color: #fff;
}
.redesSociales a{
    text-decoration: none;
    padding: 10px;
} 

.iconI, .iconF{
    color:#efeeee;
}
.iconI{
    float: left;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-top: 2px solid #d4d4d4;
    color:white;
    height: 10vh;
}


@media screen and (max-width: 1180px){
    nav{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    .slogan{
        padding-top: 0px;
        padding-left: 8vw;
        font-weight: 600;
        font-size: 8vh;
    }
    main{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){
    .slogan{
        padding-top: 0px;
        padding-left: 6vw;
        font-weight: 500;
        font-size: 6vh;
    }
}